body{
    background-color: rgba(142, 255, 127, 0.877);
    font-family: 'Montserrat', sans-serif;
}

input{
    width: 10rem;
    height: 2rem;
    border-radius: 25%;
}

button{
    width: 10rem;
    height: 2rem;
    border-radius: 25%;
    background-color: blue;
}

.error{
    color:red;
}